* {
  font-family: Lato, sans-serif;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

a {
  text-decoration: none; }

button {
  outline: none; }

.container {
  width: 73.1256vw;
  margin: 0 auto; }

.btn {
  border: none;
  padding: 0.72vw 1.188vw;
  background-color: #f16d7f;
  font-size: 0.8748vw;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .btn:hover {
    background-color: #f65168; }

.btn i {
  margin-left: 0.5vw; }

.section {
  padding: 2.8128vw 0; }

header {
  height: 6.25vw;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.625vw 0 rgba(0, 0, 0, 0.17); }
  header .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .header__logo {
    margin-right: 2.3124vw; }
  header .header__logo img {
    width: 10.313vw;
    height: 3.188vw; }
  header .header__search {
    display: flex;
    justify-content: space-between;
    border: 0.0624vw solid #e6e6e6;
    border-radius: 0.156vw; }
  header .header__btnBrowse {
    border: none;
    border-right: 0.0624vw solid #e6e6e6;
    width: 5.4372vw;
    height: 2.3748vw;
    background-color: #f8f8f8;
    font-size: 0.8748vw;
    color: #222222;
    line-height: 2.6256vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  header .header__btnBrowse i {
    margin-left: 0.5vw; }
  header input[type="text"] {
    border: none;
    border-right: 0.0624vw solid #e6e6e6;
    padding: 0 0.9996vw;
    color: #a4a4a4; }
  header .header__btnSearch {
    border: none;
    width: 2.1876vw;
    cursor: pointer; }
  header .header__cart {
    width: 2vw;
    height: 1.812vw;
    cursor: pointer; }
  header .header__cart-link {
    margin-left: auto;
    margin-right: 1.625vw; }

nav .top-menu__row {
  height: 3.125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }
nav .top-menu__link {
  padding: 0.7200vw 1.4376vw;
  font-size: 0.8748vw;
  font-weight: bold;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; }
  nav .top-menu__link:hover {
    color: #fff;
    background-color: #f65168; }

main .promo {
  height: 38.1252vw;
  background-color: #e8e8e8; }
  main .promo .promo-back {
    display: flex;
    align-items: center;
    background-image: url(../images/promo-back.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 34.3761vw;
    height: inherit; }
  main .promo .promo__text {
    height: 5.7504vw;
    border-left: 0.75vw solid #f16d7f;
    padding-left: 0.7500vw;
    text-transform: uppercase;
    font-weight: 900; }
  main .promo .promo__title {
    font-size: 3.7500vw;
    line-height: 2.7600vw; }
  main .promo .promo__info {
    font-size: 2.4996vw;
    line-height: 2vw;
    margin-top: 1.0800vw; }
    main .promo .promo__info span {
      color: #f16d7f; }
main .category .category__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 54.9984vw; }
main .category .category__item {
  width: 34.6884vw;
  margin: 0.9372vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 34.6872vw; }
main .category .category__item:first-child {
  height: 33.8748vw;
  background-image: url(../images/category_item1.jpg); }
main .category .category__item:nth-child(2) {
  height: 16.3128vw;
  background-image: url(../images/category_item2.jpg); }
main .category .category__item:nth-child(3) {
  height: 16.3128vw;
  background-image: url(../images/category_item3.jpg); }
main .category .category__item:last-child {
  height: 33.8748vw;
  background-image: url(../images/category_item4.jpg); }
main .category .category__badge {
  margin-top: 1.5624vw;
  padding: 0.9996vw 0.9996vw;
  background-color: #fff;
  display: inline-block; }
main .category .category__text {
  font-size: 1.1256vw;
  color: #222222;
  text-transform: uppercase; }
main .category .category__title {
  font-size: 1.8756vw;
  color: #f16d7f;
  text-transform: uppercase; }
main .feature .feature__title {
  font-size: 1.8756vw;
  color: #222222;
  text-align: center; }
main .feature .feature__info {
  font-size: 0.8748vw;
  color: #9f9f9f;
  text-align: center; }
main .feature .feature__list {
  margin-top: 2.4996vw;
  margin-bottom: 3.7500vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
main .feature .feature__item {
  width: 16.407vw;
  margin: 1.2504vw 0.9372vw;
  height: 23.1252vw; }
main .feature .feature__item:hover {
  box-shadow: 0 0.312vw 0.5004vw 0 rgba(0, 0, 0, 0.16); }
main .feature .feature__img-button {
  height: 17.4996vw;
  position: relative; }
main .feature .feature__photo {
  width: 100%;
  display: block;
  height: inherit;
  object-fit: cover;
  object-position: center center; }
main .feature .feature__bay-button {
  height: inherit;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  cursor: pointer; }
main .feature .feature__item:hover .feature__bay-button {
  display: flex;
  justify-content: center;
  align-items: center; }
main .feature .feature__bay {
  padding: 0.9372vw;
  border: 0.0624vw solid #ffffff;
  background: none;
  color: #fff;
  font-size: 0.8124vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
main .feature .feature__bay:hover {
  background-color: #f65168; }
main .feature .feature__bay img {
  margin-right: 0.6252vw; }
main .feature .feature__name-price {
  padding: 0.9372vw; }
main .feature .feature-name {
  margin-bottom: 0.9372vw;
  font-size: 0.8124vw;
  color: #222222;
  text-transform: uppercase; }
main .feature .feature-price {
  font-size: 0.9996vw;
  color: #f16d7f;
  font-weight: bold;
  text-transform: uppercase; }
main .feature .feature-btn {
  width: 13.2504vw;
  margin: 0 auto; }
main .banner-feature .section {
  display: flex; }
main .banner-feature .banner-feature__banner {
  width: 47.938vw;
  height: 33.063vw;
  background-image: url("../images/banner-bg.jpg");
  background-position: center;
  background-size: cover; }
main .banner-feature .banner-feature__offer {
  margin-left: 2.313vw;
  margin-top: 9.313vw;
  color: #fff;
  text-transform: uppercase; }
main .banner-feature .banner-feature__title {
  font-size: 3.351vw; }
  main .banner-feature .banner-feature__title span {
    color: #f16d7f; }
main .banner-feature .banner-feature__info {
  font-size: 2.011vw; }
main .banner-feature .banner-feature__feature-box-list {
  width: 23.313vw;
  display: flex;
  flex-direction: column;
  background-color: #222224;
  color: #fbfbfb; }
main .banner-feature .banner-feature__feature-box:first-child {
  background: url(../images/feature-box1.png) no-repeat 2.25vw 3vw;
  padding: 3.563vw 1.875vw 2.188vw 6.875vw; }
main .banner-feature .banner-feature__feature-box:nth-child(2) {
  background: url(../images/feature-box2.png) no-repeat 2.25vw 0.3vw;
  padding: 0.625vw 1.875vw 0.625vw 6.875vw; }
main .banner-feature .banner-feature__feature-box:last-child {
  background: url(../images/feature-box3.png) no-repeat 2.25vw 1.5vw;
  padding: 2.188vw 1.875vw 3.563vw 6.875vw; }
main .banner-feature .banner-feature__box-title {
  font-size: 1.250vw;
  color: #fbfbfb; }
main .banner-feature .banner-feature__box-text {
  margin-top: 0.8vw;
  font-size: 0.875vw;
  line-height: 1.500vw;
  color: #fbfbfb; }
main .subscribe {
  background: url("../images/subscribe-bg.jpg") no-repeat center;
  background-size: cover;
  height: 27.375vw; }
  main .subscribe .subscribe__row {
    display: flex;
    justify-content: space-between; }
  main .subscribe .subscribe__review, main .subscribe .subscribe__form-box {
    width: 50%; }
  main .subscribe .subscribe__review {
    margin-top: 8vw;
    display: flex;
    justify-content: space-between; }
    main .subscribe .subscribe__review img {
      width: 5.188vw;
      height: 5.188vw; }
  main .subscribe .subscribe__review-box {
    width: 24.125vw;
    padding-right: 3.125vw; }
  main .subscribe .subscribe__text {
    font-size: 1vw;
    color: #222224;
    font-style: italic; }
  main .subscribe .subscribe__name {
    font-size: 1vw;
    color: #f16d7f;
    margin-top: 0.8vw; }
  main .subscribe .subscribe__info {
    margin-top: 0.3vw;
    font-size: 0.750vw;
    color: #222224; }
  main .subscribe .subscribe__lines {
    width: 8.750vw;
    margin-top: 2.375vw;
    display: flex;
    justify-content: space-between; }
  main .subscribe .subscribe__line {
    width: 2.375vw;
    height: 0.250vw;
    background-color: #d6d6d6; }
  main .subscribe .subscribe__line:nth-child(2) {
    background-color: #f16d7f; }
  main .subscribe .subscribe__form-box {
    display: flex;
    align-items: center;
    flex-direction: column; }
  main .subscribe .subscribe__title {
    font-size: 1.500vw;
    margin-top: 9.125vw;
    color: #222224;
    text-transform: uppercase; }
  main .subscribe .subscribe__form-info {
    font-size: 0.875vw;
    margin-top: 0.875vw; }
  main .subscribe .subscribe__form {
    width: 24.125vw;
    height: 2.875vw;
    margin-top: 2.125vw;
    display: flex; }
  main .subscribe .subscribe__form button {
    border-top-right-radius: 1.438vw;
    border-bottom-right-radius: 1.438vw;
    width: 6.500vw;
    outline: none;
    cursor: pointer; }
  main .subscribe .subscribe__input {
    width: 17.625vw;
    border: none;
    outline: none;
    padding: 0 28px;
    font-weight: 700;
    background-color: #e1e1e1;
    border-top-left-radius: 1.438vw;
    border-bottom-left-radius: 1.438vw; }

footer .footer__top {
  padding: 6.875vw 0 5.625vw; }
footer .footer__logo {
  width: 10.250vw;
  height: 3.188vw; }
footer .footer__text {
  font-size: 0.875vw;
  margin-top: 1.813vw;
  color: #898989;
  line-height: 1.438vw; }
footer .footer__name {
  font-size: 1.125vw;
  color: #f16d7f;
  font-weight: bold;
  text-transform: uppercase; }
footer .footer__bottom {
  height: 4.938vw;
  background-color: #e6e6e6;
  display: flex; }
footer .footer__column:first-child {
  width: 26.875vw; }
footer .footer__column li {
  list-style: none; }
footer .footer__column li:not(last-child) {
  margin-top: 1.688vw; }
footer .footer__column a {
  color: #898989; }
  footer .footer__column a:hover {
    color: #f65168; }
footer .footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center; }
footer .footer__copyright {
  font-size: 1vw;
  color: #7a7a7a; }
footer .footer__social {
  width: 11.938vw;
  display: flex;
  justify-content: space-between; }
footer .footer__btn {
  border: none;
  padding: 0.6vw 0.6vw;
  background-color: #fff;
  color: #b2b2b2;
  font-size: 0.729vw;
  width: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  footer .footer__btn:hover {
    background-color: #f65168;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
